$font-base:
  system-ui,
  -apple-system,
  'Segoe UI',
  Roboto,
  sans-serif;
$font-size-base: 14px;
$font-size-md: 15px;
$font-size-xl: 22px;

$color-text: #1e1e1e;
$color-text-muted: #888;
$color-text-light: #666;
$color-bg: #fff;
$color-bg-muted: #efefef;
$color-bg-chat-active: #e4edfd;
$color-border: #eaeaea;
$color-bg-back: #fbfbfb;
$color-primary: #3369f3;
$color-primary-hover: #214dcc;
$color-danger: #d32f2f;

$radius: 8px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
